.header {
    display: flex;
    justify-content: space-around;
    background-color: #74C69D;
    color: #FFFFFF;
}

.menu {
    align-self: center;
}

.content {
    height: 785px;
}

.menu-logo {
    width: 99px; height:50px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #74C69D;
    height: 125px;
    color: #FFFFFF;
}

